@{
    ViewData["Title"] = "Loraine";
}

<div class="text-center">
    <h1  class="display-4">ELAINE

    </h1>
    <p class="negrita"> Bienvenidos a la tienda </p>

    <a href="http://localhost:5171/Cliente" class="miBoton1">
    <div>Cliente</div>
    </a>

    <a href="http://localhost:5171/Producto" class="miBoton2">
    <div>Producto</div>
    </a>

    <a href="http://localhost:5171/Pedido" class="miBoton3">
    <div>Pedido</div>
    </a>

<div>


