html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.form-container
{
max-width: 600px;
margin: auto;
padding: 20px;
}

.form-container h2{
  margin-bottom: 20px;
}

.form-group{
  margin-bottom: 20px;
}

body {
  background-color: #46ffe6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  object-fit:cover;
}
h1{
  color: #8d0000;
  text-shadow: 7px 4px 5px rgb(14, 203, 245);
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
  
  p.negrita {font-weight:bold ; }

}

.miBoton1 {
  display: inline-block;
  background-color: #008CBA;
  color: white;
  padding: 20px 30px;
  font-size: 25px;
  border-radius: 5px;
  text-align: left;
  text-decoration: none;
}

.miBoton:hover {
  background-color: #005f70;
}

.miBoton2 {
  display: inline-block;
  background-color: #008CBA;
  color: white;
  padding: 20px 30px;
  font-size: 25px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.miBoton:hover {
  background-color: #005f70;
}

.miBoton3 {
  display: inline-block;
  background-color: #008CBA;
  color: white;
  padding: 20px 30px;
  font-size: 25px;
  border-radius: 5px;
  text-align: right;
  text-decoration: none;
}

.miBoton:hover {
  background-color: #005f70;
}

